/*
 * Файл local/modules/scrollup/install/assets/styles/style.css
 */

#scrollup-button{
    position: fixed;
    cursor: pointer;
    display: none;
}
#scrollup-button:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #fff;
    margin: 9px auto 0;
    display: block;
}